@import url(https://fonts.googleapis.com/css?family=Raleway:500);
@import url(https://fonts.googleapis.com/css?family=Muli);

body {
	font-family: 'Muli', sans-serif;
}

/* Navigation Section */

.navbar.navbar-inverse.navbar-fixed-top {
	background-color: rgba(13,13,13, 0.5);
	color: #F7FAFE;
	margin-left: 0;
	border: none;
}

/*#navigation {

}

#navigation a {
	color: #F7FAFE;
	text-decoration: none;
}

#navigation a:hover {
	text-decoration: none;
}

#right-nav ul {
	padding-left: 0;
}

#nav-title {
	font-size: 1.25em;
}

#navigation li {
	display: inline-block;
	padding-left: 2%;
}

#drop-menu {
	display: none;
}

#left-nav {
	padding-top: 0.3%;
}*/

/* Title Section */
.jumbotron {
	background-image: url("Drip_Coffee_Bangkok.jpg");
	background-position: center;
	background-size: cover;
	padding: 155px 0;
	color: #F7FAFE;
	margin: 0px;
}

#title {
	padding-top: 140px;
}

/* End Title Section */

/*Mission Section*/

#mission {
	background-color: #323232;
	color: #F7FAFE;
	font-size: 1.7em;
	font-family: 'Raleway', sans-serif;
	padding: 60px;
}

/*End Mission Section*/


/* Description Section */

#description {
	background-color: #A2DED0;
	font-size: 1.4em;
	padding-top: 3%;
}

/* End Description Section*/

/* Footer Section */

#page-footer {
	background-color: #D64541;
	padding-top: 0.5%;
	color: #F7FAFE;
}

#footer-links a {
	color: #F7FAFE;
	/*padding-left: 1%;*/
}

/* End Footer Section */